<!-- Navigation -->
<nav class="navbar navbar-expand-lg py-4">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#"><img src="cropped-Bentonville (2).avif" alt=""></a> -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/" >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/book-to-stay.index.html">Book Your Stay</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/attractions.html">Attractions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/partner.html">Partners</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/property-management.html">Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service.html">Development Services</a>
        </li>
      </ul>
      <!-- <button class="btn btn-book ms-3">BOOK YOUR STAY</button> -->
    </div>
  </div>
</nav>
